@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #e4c515;
}

div#caixa-botao {
    display: flex;
    align-items: center;
    justify-content: center;
}


#botao {
    font-size: 2rem;
    background-color: #675a10;
    color: white;
}


#cardBoard {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    width: calc(25% - 10px);
    height: 33%;
    margin: 5px;
    transform-style: preserve-3d;
    transition: .3s;
    position: relative;
}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card.flip {
    transform: rotateY(90deg)
}


.front-face, 
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #675a10;
    position: absolute;   
} 

.front-face{
    transform: rotateY(90deg);
}


@media only screen and (max-width:500px) {

    body {
        margin: 0;
        padding: 0;
    }

    #botao{
        margin-top: 0.2em;
        font-size: 1em;
        margin-bottom: 0.6rem;
}
  
    #cardBoard {
    width: 100%;
    height: 90%;
    margin: auto;
    }
} 

