@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #e4c515;
}


#botao {
    margin-left: 25vw;
    display: inline;
    position: absolute;
    width: 50vw;
    font-size: 50px;
    background-color:#675a10;
    color: white;
}


#cardBoard {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    width: calc(25% - 10px);
    height: 33%;
    margin: 5px;
    transform-style: preserve-3d;
    transition: .3s;
    position: relative;
}

.memory-card:active {
    transform: scale(0.97);
}

.memory-card.flip {
    transform: rotateY(90deg)
}


.front-face, 
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: #675a10;
    position: absolute;   
} 

.front-face{
    transform: rotateY(90deg);
}


@media (max-width:760px) {

    body {
        margin: 0;
        padding: 0;
    }

    #botao{
        margin-top: 0.2em;
        font-size: 1em;
        margin-bottom: 1em;
        background-color:#675a10;
        color: white;
}
  
    .memory-card {
        margin-top: 2em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        max-width: 4.69em;
        max-height: 9em;
    }
} 

